.pantry-page {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .kitchen-logo {
        width: 60%;
        height: 60%;
    }
    .empty-pantry {
        max-height: 65vh;
        padding: 5%;
        .empty-message {
            margin-bottom: 5%;
            span {
                font-weight: 900;
                font-size: 20px;
            }
        }
    }
}