button {
    width: auto;
    height: auto;
    font-family: inherit;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: teal;
    color: white;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}
