.add-to-pantry {
    position: relative;
    text-align: center;
    .error-message {
        margin-bottom: 5px;
        color: red;
        font-size: 15px;
    }
}

.pantry-input {
    width: 350px;
    height: 40px;
    font-size: 15px;
    text-align: center;
}

