.search-page {
    text-align: center;
    .no-result {
        margin-top: 5%;
        color: grey;
    }
}
.recipes-list {
    width: 100%;
    padding: 5% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.search-input {
    width: 350px;
    height: 40px;
    font-size: 15px;
    text-align: center;
}