

.grocery-list-page {
    .grocery-items-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .empty-grocery-list{
        margin-top: 5%;
        text-align: center;
        .grocery-logo {
            width: 30%;
            height: 30%;
        }
        .empty-message {
            margin-bottom: 5%;
            span {
                font-weight: bold;
                font-size: 20px;
                display: block;
            }
        }
    }
}